@use "@app/styles/variables.scss" as *;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.info {
  color: $color-gray;
  font-size: 0.9rem;
}
