.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, minmax(385px, 1fr));
  gap: 1rem;
}
