@use "@app/styles/variables.scss" as *;

.layout {
  display: flex;
  min-height: 100vh;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: $sidebar-width;
  background-color: $color-light;
}

.page {
  flex: 1;
  padding: 1rem;
}
