@use "@app/styles/variables.scss" as *;
@use "@app/styles/mixins.scss" as mixins;

.card {
  @include mixins.card;
  @include mixins.shadow-element;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem;
  color: inherit;
  text-decoration: none;
}

.identity {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: 1rem;

  p:last-child {
    @include mixins.text-sm;
    font-weight: normal;
  }
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
  font-size: 0.9rem;

  span {
    @include mixins.text-sm;
  }
}
